$blue-color: rgb(76, 100, 234);
$blue-dark-color: rgb(17, 52, 249);

$transition-duration: 1s;
$transition-timing-function: ease-in-out;

.title {
  &Container {
    padding-bottom: 20px;
  }
}

.container {
  padding: 20px;
}

.cars {
  position: relative;
}

.car {
  width: 50px;
  height: 40px;

  transition-property: transform;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
}

.road {
  position: relative;

  width: 100%;
  height: 4px;

  background-color: black;

  &::before,
  &::after {
    content: "";

    position: absolute;

    top: 0;

    height: 4px;
    width: 50px;

    background-color: white;
    background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 74%, black 75%, black),
      linear-gradient(45deg, black 25%, transparent 25%, transparent 74%, black 75%, black);
    background-size: 4px;
    background-position: 4px 4px, 50px 50px;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

.distance {
  height: 100%;

  transition-property: width;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
}

.form {
  display: flex;

  width: 100%;
  max-width: 500px;

  padding-top: 20px;
}

.fieldset {
  display: flex;
  flex-direction: column;
}

.fieldset + .fieldset {
  margin-left: 30px;
}

.label {
  margin-bottom: 10px;
}

.input {
  padding: 10px;

  border: 1px solid $blue-color;
  border-radius: 10px;

  &:hover,
  &:focus {
    border: 1px solid $blue-dark-color;
  }
}

.zoom {
  &Field {
    position: absolute;

    height: 100%;

    background-color: rgba(227, 223, 223, 0.4);

    transition-property: width, transform;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;
  }
}

.button {
  background-color: $blue-color;
  color: white;

  border-radius: 10px;

  font-size: 16px;

  padding: 10px;

  margin-top: 20px;

  &:disabled {
    background-color: rgba($blue-color, 0.4);
  }

  &:not(:disabled) {
    &:hover {
      background-color: $blue-dark-color;
    }
  }
}

.button + .button {
  margin-left: 20px;
}
